{% extends 'base.html' %}

{% block content %}
    <h1>회원가입</h1>
    <form action="{% url 'register' %}" method="POST">
        {%csrf_token%}
        Username:
        <br>
        <input type="text" name="username">
        <br>
        Nickname:
        <br>
        <input type="text" name="nickname">
        <br>
        Password:
        <br>
        <input type="password" name="password1">
        <br>
        Confirm Password:
        <br>
        <input type="password" name="password2">
        <br>
        <input type="submit" class="btn btn-primary" value="register">
        <br>
        

        <h2>
            1. 패스워드는 최소 8글자 이상 입력해주세요 <br>
            2. 패스워드는 숫자로만 이루어질 수 없습니다. <br>
            3. 이미 사용했었던 패스워드는 사용할 수 없습니다. <br>
        
        </h2>
    </form>
{% endblock %}
