{% extends 'base.html' %}

{% block content %}
    <h1>{{match.title}}</h1>
    <div>
    작성자 : {{match.writer}}
    날짜 : {{match.pub_date}}
    </div>

    <hr>
    {% if match.image %} <!-- 이미지가 없을때도 오류가 나지 않도록 하기 위해서-->
    <p><img src="{{match.image.url}}" alt="" class="detail_img">
    {% endif %}
    </p>
    <p>
    {{match.body}}
    </p>

    <button>
        <a href="{% url 'edit' match.id %}">수정하기</a>
    </button>
    <button>
        <a href="{% url 'delete' match.id %}">삭제하기</a>
    </button>
    <!-- {% if user.nickname == 'match.writer' %}
        <button>
            <a href="{% url 'edit' match.id %}">수정하기</a>
        </button>
        <button>
            <a href="{% url 'delete' match.id %}">삭제하기</a>
        </button>
    {% endif %} -->
    
    <button>
        <a href="{% url 'home'%}">홈으로</a>
    </button>
{% endblock %}