{% extends 'base.html' %}

{% load static %}

{% block content %}
<br>
<div class ="nav">
   <ul class="nav nav-pills nav-fill">
       
       <li class="nav-item"></li>
         <a class="nav-link"  href="main.html">My Color Match</a>
       </li>
       <li class="nav-item2">
         <a class="nav-link active" aria-current="other color match.html"style = background-color:rgb(184,218,206); href="other color match.html">Other Color Match</a>
       </li>
       <li class="nav-item3">
         <a class="nav-link" href="save list.html">Save List</a>
       </li>
       <li class="nav-item4">
        <a class="nav-link" href="q&a.html">Q&A</a>
       </li>
   </ul>
</div>
<br><br>
<div class="coor bar">
<img src="./color bar/흰색.png" class="colorbar" style="max-width: 80px;">
</div>
{% endblock %}